.top-toolbar {
    background-color: black;
    color: #fff;
}

.logo {
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #e3f2fd, #bbdefb);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.nav {
    display: flex;
    gap: 50px;
    margin-left: auto;
}