<mat-toolbar class="top-toolbar">
    <span class="logo">FIRST</span>
    <nav class="nav">
        <a mat-button routerLink="/orders" routerLinkActive="active">Заказы</a>
        <a mat-button routerLink="/new-orders" routerLinkActive="active">Новые заказы</a>
        <a mat-button routerLink="/payments" routerLinkActive="active">Платежи</a>
        <a mat-button routerLink="/directories" routerLinkActive="active">Справочники</a>
        <a mat-button routerLink="/logout" routerLinkActive="active">Выход</a>
    </nav> 
</mat-toolbar>
