<mat-toolbar class="top-toolbar">
    <span class="logo">FIRST</span>
    <nav class="nav">
        <a matButton="filled" routerLink="/home-page/admin-panel/main" routerLinkActive="active">Главная</a>
        <a matButton="tonal" routerLink="/home-page/admin-panel/orders" routerLinkActive="active">Заказы</a>
        <a matButton="tonal" routerLink="/home-page/admin-panel/new-orders" routerLinkActive="active">Новые заказы</a>
        <a matButton="tonal" routerLink="/home-page/admin-panel/payments" routerLinkActive="active">Платежи</a>
        <a matButton="tonal" routerLink="/home-page/admin-panel/directories" routerLinkActive="active">Справочники</a>
        <button matButton="filled">Выход</button>
    </nav>
</mat-toolbar>
<router-outlet></router-outlet>