<mat-toolbar class="top-toolbar">
    <span class="logo">FIRST</span>
    <nav class="nav">
        <a matButton="tonal" routerLink="/admin-panel/orders" routerLinkActive="active">Заказы</a>
        <a matButton="tonal" routerLink="/admin-panel/new-orders" routerLinkActive="active">Новые заказы</a>
        <a matButton="tonal" routerLink="/admin-panel/payments" routerLinkActive="active">Платежи</a>
        <a matButton="tonal" routerLink="/admin-panel/directories" routerLinkActive="active">Справочники</a>
        <a matButton="filled" routerLink="/logout" routerLinkActive="active">Выход</a>
    </nav>
</mat-toolbar>
<router-outlet></router-outlet>